// Styling for the container holding the animated cube
.stage-cube-cont {
  width: 50%;
  height: 100%;
  top: 0;
  padding-top: 18%;
  margin-left: 0;
  position: absolute;
  right: 0;
  overflow: hidden; // Hide overflow content
}

// Styling for the cube and its animation
.cubespinner {
  // Define the cube's spin animation
  animation-name: spincube;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite; // Keep the animation going forever
  animation-duration: 12s;
  transform-style: preserve-3d; // Enable 3D transformations
  transform-origin: 100px 100px 0; // Define the origin for transformations
  margin-left: calc(50% - 100px); // Centering the cube

  // General styling for each face of the cube
  div {
    position: absolute;
    width: 200px;
    height: 200px;
    border: 1px solid #ccc;
    background: rgba(255, 255, 255, 0.4);
    font-size: 100px;
    display: flex; // Use flex for centering the font icons
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 20px 0px lightyellow;
  }

  // Individual transformations for each face of the cube
  // to position them correctly in 3D space
  .face1 {
    transform: translateZ(100px);
  }
  .face2 {
    transform: rotateY(90deg) translateZ(100px);
  }
  .face3 {
    transform: rotateY(90deg) rotateX(90deg) translateZ(100px);
  }
  .face4 {
    transform: rotateY(180deg) rotateZ(90deg) translateZ(100px);
  }
  .face5 {
    transform: rotateY(-90deg) rotateZ(90deg) translateZ(100px);
  }
  .face6 {
    transform: rotateY(-90deg) translateZ(100px);
  }
}

// Define the spin animation for the cube
@keyframes spincube {
  from,
  to {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }
  16% {
    transform: rotateY(-90deg);
  }
  33% {
    transform: rotateY(-90deg) rotateZ(90deg);
  }
  50% {
    transform: rotateY(-180deg) rotateZ(90deg);
  }
  66% {
    transform: rotateY(-270deg) rotateZ(90deg);
  }
  83% {
    transform: rotateY(90deg);
  }
}

// Media queries for responsive design

// For tablets
@media (min-width: 768px) and (max-width: 920px) {
  .text-zone {
    margin-left: 12px; // Adjust margin for better view
  }
}

// For mobile devices
@media (max-width: 767px) {
  .about-page h1::before,
  .contact-page h1::before {
    top: 2%;
  }
  h1::after,
  h1::before {
    padding-left: 54px; // Adjust padding for "h1" pseudo-elements
  }
  #about-txt {
    width: 30%;
    top: 45%;
  }
  .text-zone p {
    font-size: 11pxpx; // Make the font size smaller for readability
  }
  // Adjust the size of the cube for mobile view
  .cubespinner {
    transform-origin: 50px 50px 0;

    div {
      width: 100px;
      height: 100px;
      font-size: 50px;
    }

    // Adjust transformations for each face
    .face1 {
      transform: translateZ(50px);
    }
    .face2 {
      transform: rotateY(90deg) translateZ(50px);
    }
    .face3 {
      transform: rotateY(90deg) rotateX(90deg) translateZ(50px);
    }
    .face4 {
      transform: rotateY(180deg) rotateZ(90deg) translateZ(50px);
    }
    .face5 {
      transform: rotateY(-90deg) rotateZ(90deg) translateZ(50px);
    }
    .face6 {
      transform: rotateY(-90deg) translateZ(50px);
    }
  }
}


//for very small screen
@media (max-width: 500px) {
  .cubespinner{
    margin-left: 85px;
    margin-top: 200px;
  }
  #about-txt p{
    font-size: 8px;
  }

  .cubespinner {
    transform-origin: 30px 30px 0;

    div {
      width: 70px;
      height: 70px;
      font-size: 30px;
    }

    // Adjust transformations for each face
    .face1 {
      transform: translateZ(30px);
    }
    .face2 {
      transform: rotateY(90deg) translateZ(30px);
    }
    .face3 {
      transform: rotateY(90deg) rotateX(90deg) translateZ(30px);
    }
    .face4 {
      transform: rotateY(180deg) rotateZ(90deg) translateZ(30px);
    }
    .face5 {
      transform: rotateY(-90deg) rotateZ(90deg) translateZ(30px);
    }
    .face6 {
      transform: rotateY(-90deg) translateZ(30px);
    }
  }

  #about-txt h1::before {
    left: -40%;
  }
  #about-txt h1::after{
    left: -50%;
  }
}
