// Importing global styles and animations
@import "../../App.scss";
@import 'loaders.css/src/animations/ball-grid-pulse.scss';

// Styling specific to the home page
.home-page{
  .text-zone{
    // Positioning text zone within the page
    position: absolute;
    left: 10%;
    top: 50%;
    transform: translateY(-50%);
  }

  h1{
    color: #fff;
    font-size: 53px;
    margin: 0;
    font-family: "Coolvetica";
    font-weight: 400;

    // Styling and positioning the opening tag of h1
    &::before{
      content: "<h1>";
      font-family: "La Belle Aurore";
      color: $primary-color;
      font-size: 18px;
      position: absolute;
      margin-top: -40px;
      left: 15px;
    }

    // Styling and positioning the closing tag of h1
    &::after{
      content: "<h1>";
      font-family: "La Belle Aurore";
      color: $primary-color;
      font-size: 18px;
      position: absolute;
      margin-top: 18px;
      margin-left: 15px;
      animation: fadeIn 1s 1.7s backwards;
      opacity: 0.6;
    }

    // Styling for the image within h1
    img{
      width: 32px;
      margin-left: 20px;
      opacity: 0;
      height: auto;
      animation: rotateIn 1s linear both;
      animation-delay: 1.4s;
    }
  }
}

// General styling for h2 elements
h2{
  color: #8d8d8d;
  margin-top: 20px;
  font-weight: 400;
  font-size: 11px;
  font-family: sans-serif;
  letter-spacing: 3px;
  animation: fadeIn 1s 1.8s backwards;
}

// Styling for the button
.flat-button{
  color: $primary-color;
  font-size: 13px;
  font-weight: 400;
  font-family: sans-serif;
  letter-spacing: 4px;
  text-decoration: none;
  padding: 10px 18px;
  border: 1px solid $primary-color;
  margin-top: 25px;
  float: left;
  animation: fadeIN 1s 1.8s backwards;
  white-space: nowrap;

  // Styling for hover state of the button
  &:hover{
    background: $primary-color;
    color: #333;
  }
}

// Media query for devices with width between 370px and 768px
@media (min-width: 370px) and (max-width: 768px){
  h1::before{
    padding-left: 25px;
  }
  .text-zone{
    padding-left: 45px;
  }
  .text-animate-hover{
    font-size: 3rem;
  }
}
